* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.flex-nav {
  display: flex;
  flex-direction: row;
}

.item {
  order: 0;
  padding: 20px;
  outline: 3px;
  outline-style: groove;
  outline-color: blue;
}

.buffer {
  padding: 20px;
  padding-left: 800px;
  outline: 3px;
  outline-style: groove;
  outline-color: blue;
}